body {
  font-family: 'Press Start 2P';
  background-color: black;
  color: #78C475;
  font-family: 'Consolas', 'Courier New', 'Poppins', sans-serif;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
