body {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  font-family: 'Press Start 2P', 'Consolas', 'Courier New', 'Poppins', sans-serif;
  background-color: black;
  color: #78C475;
  /* top: 0;
  left: 0; */
  /* height: 100vh; */
}

h4 {
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  text-align: center;
  margin: 0;
  height: 100vh;
}

/* ----------------- Game Boxes ---------------------- */

.gameDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.topDisplay {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.bottomDisplay {
  display: flex;
  margin: 20px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.GameBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-left: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.DayAndLocationBox {
  margin: 0;
  height: 50px;
  width: 500px;
}

.StatusBox {
  margin: 0;
  height: 110px;
  width: 340px;
}

.DialogueBox {
  margin: 0;
  height: 160px;
  width: 100%;
}